<div class="container">
  <div class="card">
    <img src="../images/<%=product.image%>" alt="Img" class="product-grid__img" style="width:100%" />
    <h2><%=product.title%></h2>
    <p class="price"><%=product.price%>kr</p>
    <p><%=product.desc%></p>
    <a href="/addToCart/<%=product._id%>"><i class="fa fa-cart-arrow-down"></i> Add to Cart</a>
  </div>
</div>